.logo {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &__title {
    @media (max-width: 439px) {
      display: none;
    }
  }
}
