:root {
  --blue1: #4879f8;
  --blue2: #1bbaff;
  --red1: #f55757;
  --red2: #f99b77;
  --colorstop: 0%;
}

.min-w-0 {
  min-width: 0;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

@media (min-width: 576px) {
  .min-w-270 {
    min-width: 270px;
  }
}

@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }
}
