$font-family-sans-serif: 'Avenir Next Cyr', 'Helvetica', sans-serif;
$body-color: #0b0b0b;
$blue: #2aa6fd;
$red: #f55757;
$light: #f6f7fb;
$secondary: #e9f6ff;
$headings-font-weight: bold;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;

$spacers: ();
$spacers: map-merge(
  (
    30p: 30px,
    40p: 40px,
    60p: 60px,
    80p: 80px,
  ),
  $spacers
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
);

$border-radius: 6px;
$border-radius-lg: 10px;
$input-line-height: 1;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1rem;
$input-btn-padding-y-lg: 1.5625rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-focus-width: 0;
$btn-border-width: 0;
$btn-border-radius-lg: $border-radius;
$modal-header-border-width: 0;
$modal-backdrop-opacity: 0.7;
